#app {
  /* max-width: 850px; */
  margin: 0 auto;
}

#nav {
  padding: 20px 0 20px 0;
}

/* Modal component */
.modal {
  background: rgba(0, 0, 0, 0.6);
}

.modal-container {
  position: absolute;
  width: 60%;
  background: #ffffff;
  left: 25%;
  top: 30%;
  padding: 20px;
}

/* EditPortfolio is the dropdown menu */
.dropdownMenu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 45px;
  left: 50px;
  width: 200px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.dropdownMenu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdownMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownMenu li {
  border-bottom: 1px solid #dddddd;
}

.dropdownMenu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}

/* holding table css */
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  /* padding: 8px; */
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background-color: rgb(0, 200, 5);
  color: white;
}

/* transactions table css */
/* table.transactions {
  display: inline-block;
  border-spacing: 0;
  padding: 1.5rem;
} */

/* .tb {
  padding: 1.5rem;
} */

/* .th,
.td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid solid black;
  position: relative;
} */

/* .resizer {
  display: inline-block;
  background: blue;
  width: 10px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
  touch-action: none;
}
.resizer.isResizing {
  background: red;
} */

/* from react-table 7 example */
td input {
  padding: 0;
  margin: 0;
  border: 0;
}

/* common */
span.dropdown {
  cursor: pointer;
  padding: 0.2rem;
}
